.search-form {
    form {
        width: 90%;
        max-width: 500px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        input {
            background-color: $black;
            color: $white;
            max-width: 90%;
        }
        button {
            margin: 0;
        }
    }
    .dropdown-group {
        max-width: 800px;
        margin: 0 20px;
        display: flex;
        justify-content: center;
        button {
            margin: 0;
            &:hover, &:focus {
                box-shadow: none;
            }
        }
    }
    .dropdown {
        background-color: $light-gray;
        display:flex;
        justify-content: center;
        margin: 0px 33px 10px 33px;
        padding: 30px;
    }
}

