.cards-nav {
    position: sticky;
    top: 72px;
    background-color: $gray;
    color: $dark;
    width: 100%;
    display: flex;
    justify-content: center;
    @include material-shadow($spread: 6px);
    .nav-icons {
        .nav-icon {
            display: flex;
            align-items: center;
            flex-direction: column;
            font-size: 2rem;
            margin: 10px auto;
            max-width: 80%;
            div {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                button {
                    margin: 5px;
                }

            }
        }
    }
}


.search-form {
    form {
        width: 90%;
        max-width: 500px;
        input {
            background-color: $black;
            color: $white;
            width: 100%;
        }
    }
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
    .card {
        padding: 10px;
        img {
            border-radius: 14px;
            max-width: 223px;
        }
    }
    .card-search-placeholder {
        color: $gray;
    }
}

.random-card {
    align-content: center;
    height: calc(100vh - 72px);
    align-items: center;
    flex-wrap: unset;
    width: 100%;
    .card {
        padding: 0;
        img {
            width: 40vw;
        }
    }
}

.all-sets {
    padding: 10px;
    display: flex;

}