.collection {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: left;
    max-width: 1200px;
    margin: 0 auto;
    .card-in-collection {
        display: flex;
        flex-direction: row;
        margin: -1px;
        .card-img-container {
            width: 100%;
            img {
                border-radius: 14px;
                max-width: 150px;
                @include phone {
                    width: 100%;
                }
            }
        }

    }
}
    