.search-form {
    form {
        width: 90%;
        max-width: 500px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        input {
            background-color: $black;
            color: $white;
            max-width: 90%;
        }
        button {
            margin: 0;
        }
    }
}

