nav {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;    
    background-color: $black;
    width: 100%;
    padding: 20px;
    z-index: 100;
    @include box-shadow($box-shadow-x: 0px, $box-shadow-y: 3px, $box-shadow-blur: 9px, $box-shadow-spread: 0px, $box-shadow-color: $black);
    .nav-logo {
        color: $white;
        @include font-logo;
    }
}

.navbar {
    color: $white;
    background-color: $primary;
    width: 100%;
    text-align: center;
    padding: 6px 0 3px 0;
    position: relative;
    z-index: 99;
    @include box-shadow($box-shadow-x: 0px, $box-shadow-y: 3px, $box-shadow-blur: 9px, $box-shadow-spread: 0px, $box-shadow-color: $black);
    ul {
        display: flex;
        justify-content: center;
        li {
            margin: 0 15px;
            font-size: 1.4rem;
        }
    }
}

