// Cool forms and buttons from Mr. Dustin
// Inherited from bootstrap
form {
  display: flex;
  flex-flow: column;
  position: relative;
  width: 400px;
  padding: 1rem;
  margin: 0 auto;
  align-items: center;
  z-index: 10;
}

form > input {
  border: 0;
  border-radius: 0;
  padding: 16px;
  margin: 8px;
  background: $white;
  font-size: 1.4rem;
  width: 240px;
  outline: 0;
}

// Form Input
@mixin form-outline($outline-color: $red, $outline-width: 2px, $transition-duration: 0.5s) {
  &:focus {
    outline-color: $outline-color;
    outline-width: $outline-width;
    outline-style: auto;
    outline-offset: -3px;
    @include transition($transition-duration);
  }
}
